<div>

  <!-- FILTER display -->
  <div class="row valign-wrapper" ng-hide="page>0" style="min-height: 81px;">
    <div class="col s4">
      <div class="row valign-wrapper" style="margin-bottom: 0px;">
        <div class="col s2" ng-click="next()" style="cursor: pointer;">
          <label><i class="material-icons left" style="cursor: pointer;">filter_list</i> Filters</label>
        </div>
        <div class="col s10 left-align">
          <select class="browser-default" ng-model="selectedRun" ng-change="fireChange()">
            <option value="!!">[ All Recent Runs ]</option>
            <option ng-repeat="run in runs" value="{{run}}">{{run}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col s2">
      <input type="checkbox" id="showSystem_selector" ng-click="showSystem=!showSystem" ng-checked="showSystem==true" />
      <label for="showSystem_selector">System</label>
    </div>
    <div class="col s2">
      <input type="checkbox" id="showInfo_selector" ng-click="showInfo=!showInfo" ng-checked="showInfo==true" />
      <label for="showInfo_selector">Info</label>
    </div>
    <div class="col s4">
      <input type="checkbox" id="showProblem_selector" ng-click="showProblem=!showProblem" ng-checked="showProblem==true" />
      <label for="showProblem_selector">Warn / Error</label>
    </div>
  </div>


  <!-- BOUNDS display -->
  <div class="row valign-wrapper" ng-hide="page!=1">
    <div class="col s4">
      <div class="row valign-wrapper" style="margin-bottom: 0px;">
        <div class="col s2" ng-click="next()" style="cursor: pointer;">
          <label><i class="material-icons left" style="cursor: pointer;">format_shapes</i> Bounds</label>
        </div>
        <div class="col s10 left-align">
        </div>
      </div>
    </div>
    <div class="input-field col s2 offset-s3">
      <input id="offset_ValInput" type="text" ng-model="offset" ng-class="offsetInputVldn" class="active" ng-keyup="$event.keyCode == 13 && fireChange()">
      <label for="offset_ValInput">Offset</label>
    </div>
    <div class="input-field col s2">
      <input id="bounds_ValInput" type="text" ng-model="maxRows" ng-class="boundsInputVldn" class="active" ng-keyup="$event.keyCode == 13 && fireChange()">
      <label for="bounds_ValInput">Max Results</label>
    </div>
    <div class="col s1">
      <a class="btn-flat waves-effect waves-light btn" ng-click="fireChange()">set</a>
    </div>
  </div>

  <div class="divider"></div>
</div>
