<html>
<head>
    <title>MC :: Recon</title>

    <!-- Materialize CSS -->
    <link rel="icon" sizes="192x192" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/css/material-icons.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/animations.css">
    <link rel="stylesheet" href="/static/css/general.css">

    <script type="text/javascript" src="/static/js/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/materialize.min.js"></script>
</head>
<body>
  <nav class="indigo darken-3" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo"><i class="material-icons">location_searching</i> MC :: Recon</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>

  <div class="container row">
    <div class="">
      <h5>Device entities</h5>
      <ul class="collapsible" data-collapsible="accordion">
      {!{range .}!}
        <li>
          <div class="collapsible-header"><i class="material-icons">
            {!{- if .Device.Kind | eq `phone`}!}smartphone{!{end -}!}
            {!{- if .Device.Kind | eq `static_autonomous`}!}business{!{end -}!}
          </i>{!{.Device.Name}!}</div>
          <div class="collapsible-body">
            <table class="container section">
              <thead>
                <tr>
                  <th>Field</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Created</td>
                  <td>{!{.Device.CreatedAt.Local.Format `Jan _2 03:04PM, 2006`}!}</td>
                </tr>
                <tr>
                  <td>Type</td>
                  <td>{!{.Device.Kind}!}</td>
                </tr>
                <tr>
                  <td>Key</td>
                  <td>{!{.Device.Key}!}</td>
                </tr>
                <tr>
                  <td>Recent location updates (last 24 hours)</td>
                  <td>{!{.LocationCount}!}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
      {!{end}!}
      </ul>
    </div>
  </div>
</body>
</html>
