<!-- Modal Trigger -->
<a class='btn' style="display: none;" data-target='uploadDialogModal' open="open" modal>show Modal</a>
<!-- Modal Structure -->
<div id="uploadDialogModal" class="modal" style="max-height: 85%;">
  <div class="modal-content">
    <h4>Upload file</h4>
    <loader loading="uploading" error="error" ></loader>
    <p>Uploading <i ng-if="file">{{file.name}}</i> to <i>{{path}}</i></p>
    <p ng-if="file">The file <span ng-if="file.type">of type <i>{{file.type}}</i></span> is <b ng-class="{'red-text': file.size>5000000}">{{file.size | bytes}}</b> in size.</p>

    <form action="#">
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" fileinput="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </form>

  <div class="modal-footer">
    <div ng-if="uploading" style="font-size: 10; display: inline-block; float: left; line-height: 36px; height: 36px;">
      <span>Upload in progress ... please wait.</span>
    </div>
    <a href="#!" ng-class="{teal: file, 'white-text': file, disabled: (!file||uploading)}" class="modal-action waves-effect waves-green btn-flat" ng-click="upload()"><span>Upload</span></a>
    <a href="#!" class="modal-action waves-effect waves-green btn-flat" ng-click="close()"><span>Cancel</span></a>
  </div>
</div>
