
.vicon {
  vertical-align: middle !important;
}


.op-indicator {
  position: absolute;
  width:  14px;
  height: 14px;
  overflow: hidden;
  left: 45px;
  top:  40px;
  display: inline-block;
  vertical-align: text-top;
  text-align: left;

  font-size: 12px;
  line-height: 14px;
  color: #fff;
  background-color: #4caf50;
  border-radius: 50%;
  cursor: pointer;
}

#assemblerRenderArea > canvas {
  width: 100%;
  height: 100%;
}

.design-header {
  min-height: 55px;
}

.design-header > h5 {
  display: inline-block;
}

.pointerCursor {
    cursor: pointer;
}

.colorLabel {
  padding-left: 23px !important;
  padding-right: 10px;
}

.nav-wrapper {
  margin-right: 2px;
}
.collection-item.avatar.active {
  background-color: #e3f2fd;
}
.msg-time {
  padding-left: 12px;
  font-size: 0.9rem;
}
#codeEditor {
  width: 100%;
  height: 100%;
}
.suggestion-kind {
  font-size: 50%;
}



.log-date {
  display: inline-block;
  width: 180px;
}

.log-class {
  display: inline-block;
  width: 12%;
}

.log-content {
  display: inline-block;
}

.log-cell {
  width: 2ch;
  text-align: center;
  margin-right: 0!important;
}
