
.vicon {
  vertical-align: middle !important;
}

nav .brand-logo {
  margin-left: 1rem;
}

.op-indicator {
  position: absolute;
  width:  14px;
  height: 14px;
  overflow: hidden;
  left: 45px;
  top:  40px;
  display: inline-block;
  vertical-align: text-top;
  text-align: left;

  font-size: 12px;
  line-height: 14px;
  color: #fff;
  background-color: #4caf50;
  border-radius: 50%;
  cursor: pointer;
}

#assemblerRenderArea > canvas {
  width: 100%;
  height: 100%;
}

.design-header {
  min-height: 55px;
}

.design-header > h5 {
  display: inline-block;
}

.pointerCursor {
    cursor: pointer;
}

.colorLabel {
  padding-left: 23px !important;
  padding-right: 10px;
}

.nav-wrapper {
  margin-right: 2px;
}
.collection-item.avatar.active {
  background-color: #e3f2fd;
}
.msg-time {
  padding-left: 12px;
  font-size: 0.9rem;
}
#codeEditor {
  width: 100%;
  height: 100%;
}
#fileEditor {
  width: 100%;
  height: 100%;
}
.suggestion-kind {
  font-size: 50%;
}



.log-date {
  display: inline-block;
  width: 21ch;
  vertical-align: top;
}

.log-class {
  display: inline-block;
  width: 8ch;
  vertical-align: top;
}

.log-content {
  display: inline-block;
  white-space: pre-wrap;
}

.log-cell {
  display: inline-block;
  width: 2ch;
  text-align: center;
  margin-right: 0!important;
}

.ldg {
  background-color: #e8f5e9;
}
.ldl {
  background-color: #f0f4c3;
}
.lda {
  background-color: #ffcc80;
}
.ldr {
  background-color: #e57373;
}
.ldi {
  background-color: #c5cae9;
}

.json-key    { color: brown; }
.json-value  { color: navy; }
.json-string { color: olive; }


.card {
  overflow: hidden;
}
#card-container .card .card-content {
  padding: 10px 14px;
}
#card-container .card-content {
  text-align: center;
}
#card-container .card-stats-title {
  font-size: 1.2rem;
  justify-content: center;
}
#card-container .card-stats-number {
  font-size: 1.8rem;
  line-height: 2.0rem;
  margin: 0.2rem 0 0.2rem 0;
  font-weight: 500;
}
#card-container .card-stats-compare {
  font-size: 0.8rem;
  opacity: 0.9;
}
#card-container .card .card-action {
  padding: 10px 14px;
}
.card-stats-title .material-icons {
  font-size: 18px;
}



.dash-collection .collection-header {
    font-size: 1.14rem;
    font-weight: 500;
}
.dash-collection p.collections-title {
    font-size: 1.0rem;
    padding: 0;
    margin: 0;
    font-weight: 500;
}
.dash-collection p.collections-content {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.task-cat {
    padding: 2px 4px;
    color: #fff;
    font-weight: 300;
    font-size: 0.8rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}

.jqstooltip {
 background-color: #c6e5f6 !important;
 font-size: 11px !important;
 padding: 5px !important;
 color: black !important;
 overflow: hidden !important;
 text-align: center !important;
 border-color: #CCCCCC !important;
 min-width: 64px !important;
 min-height: 20px !important;
}

.jqsfield {
 font-size: 10px !important;
 color: black !important; /*set the text color here */
}


.app-icon {
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
}

.app-icon-container {
  cursor: pointer;
  color: #000;
  border-radius: 4px;
  background-color: #fff;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
}

.app-icon-container:hover {
  border-color: #e0e0e0;
}
