<html>
<head>
    <title>Terminal</title>

    <!-- Materialize CSS -->
    <link rel="icon" sizes="192x192" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/css/material-icons.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/animations.css">
    <link rel="stylesheet" href="/static/css/general.css">

    <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>

    <script type="text/javascript" src="/static/js/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/angular-moment.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/angular-materialize.min.js"></script>

    <script type="text/javascript" src="/static/js/libs/terminal.js"></script>
</head>
<body ng-cloak ng-app="terminal">
  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo"><i class="material-icons">text_fields</i> Terminal</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/##apps"><i class="material-icons">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>

    <div id="term-container" class="container row section" style="margin: auto; width: 50%;">
    <script type="text/javascript" src="/static/js/apps/terminal/main.js"></script>

  </div>
</body>
</html>
