<div class="row" id="card-container">
  {!{range .Cards}!}
  <div class="col s12 m12 l{!{.Width}!}">
    <div class="card">
        <div class="card-content {!{.Color}!} white-text">
            <p class="card-stats-title valign-wrapper"><i class="material-icons">{!{.Icon}!}</i>  {!{.Title}!}</p>
            <h4 class="card-stats-number">{!{.Content}!}</h4>
            <p class="card-stats-compare" style="min-height: 18px;">
              {!{.Subtext}!}
            </p>
        </div>
    </div>
  </div>
  {!{end}!}
</div>

<div class="row" id="main-dash-row">
  {!{range .Lists}!}
  <div class="col s12 m12 {!{if .Fill}!}l12{!{else}!}l6{!{end}!}">
      <ul class="collection dash-collection">
        <li class="collection-item avatar">
            <i class="large material-icons circle {!{if .IconColor}!}{!{.IconColor}!}{!{else}!}light-blue darken-2{!{end}!}">{!{.Icon}!}</i>
            <span class="collection-header">{!{.Title}!}</span>
            <p>{!{.Subtitle}!}</p>
            <a href="#" class="secondary-content" style="color: #ff4081;"><i class="material-icons">{!{.SecondaryIcon}!}</i></a>
        </li>
        {!{range .Items}!}
        <li class="collection-item {!{if .Icon}!}avatar{!{end}!}">
            <div class="row" style="margin-bottom: 0;">
                {!{if .Icon -}!}
                  <i class="material-icons circle {!{.IconColor}!}">{!{.Icon}!}</i>
                {!{- end}!}
                <div class="col  {!{- if and .Tag .ChartType}!} s6 {!{else}!} {!{if or .Tag .ChartType}!}s8{!{else}!}s12{!{end -}!} {!{end}!}">
                    <p class="collections-title">{!{.Title}!}</p>
                    <p class="collections-content">{!{.Text}!}</p>
                </div>
                {!{if .Tag -}!}
                <div class="col {!{if .ChartType}!}s3{!{else}!}s4{!{end}!}" style="text-align:right;">
                    <span class="task-cat {!{.TagColor}!}">{!{.Tag}!}</span>
                </div>
                {!{- end}!}
                {!{if .ChartType -}!}
                <div class="col {!{if .Tag}!}s3{!{else}!}s4{!{end}!}" style="text-align:right;">
                    <span class="inlinesparkline" sparkType="{!{ .ChartType }!}"
                    {!{ range $name, $val := .ChartOptions }!} spark{!{$name}!}="{!{$val}!}"{!{end}!}>{!{chartData .ChartData}!}</span>
                </div>
                {!{- end}!}
            </div>
        </li>
        {!{end}!}
      </ul>
  </div>
  {!{end}!}

  {!{range .Logs}!}
  <div class="col s12 m12 {!{if .Fill}!}l12{!{else}!}l6{!{end}!}">
      <ul class="collection dash-collection">
        <li class="collection-item avatar">
            <i class="large material-icons circle {!{if .IconColor}!}{!{.IconColor}!}{!{else}!}light-blue darken-2{!{end}!}">{!{.Icon}!}</i>
            <span class="collection-header">{!{.Title}!}</span>
            <p>{!{.Subtitle}!}</p>
            <a href="#" class="secondary-content" style="color: #ff4081;"><i class="material-icons">{!{.SecondaryIcon}!}</i></a>
        </li>

        <li class="collection-item log-data-section" style="min-height: {!{logSize .Height}!};">
          {!{range .Items}!}
            <div class="log-data-entry">
              {!{if eq .Type `log-line`}!}
                {!{range .Sections}!}
                <span class="{!{.Class}!}">{!{.Text}!}</span>
                {!{end}!}
              {!{end}!}
            </div>
          {!{end}!}
        </li>
      </ul>
  </div>
  {!{end}!}
</div>


<div class="fixed-action-btn">
  <a href="#" class="btn-floating btn-large red" ng-click="refreshDash()">
    <i class="large material-icons">refresh</i>
  </a>
</div>

<script>
  $("#main-dash-row .inlinesparkline").sparkline('html', { enableTagOptions: true });
</script>
