<html>
<head>
    <title>Nexus</title>

    <!-- Materialize CSS -->
    <link rel="icon" sizes="192x192" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/css/material-icons.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/animations.css">
    <link rel="stylesheet" href="/static/css/general.css">

    <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="/static/js/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/angular-moment.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/angular-materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/jquery.sparkline.min.js"></script>

    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/accounts/accounts.js"></script>
    <script type="text/javascript" src="/static/js/accounts/accountEditModal.js"></script>
    <script type="text/javascript" src="/static/js/accounts/accountGrantsModal.js"></script>
    <script type="text/javascript" src="/static/js/accounts/accountsAuth.js"></script>
    <script type="text/javascript" src="/static/js/data/controller.js"></script>
    <script type="text/javascript" src="/static/js/data/editModal.js"></script>
    <script type="text/javascript" src="/static/js/data/exploreController.js"></script>
    <script type="text/javascript" src="/static/js/data/inserterController.js"></script>
    <script type="text/javascript" src="/static/js/data/filterDirective.js"></script>
    <script type="text/javascript" src="/static/js/messenger/controller.js"></script>
    <script type="text/javascript" src="/static/js/integration/editModal.js"></script>
    <script type="text/javascript" src="/static/js/integration/list.js"></script>
    <script type="text/javascript" src="/static/js/integration/runExplorer.js"></script>
    <script type="text/javascript" src="/static/js/integration/editor.js"></script>
    <script type="text/javascript" src="/static/js/integration/filterDirective.js"></script>
    <script type="text/javascript" src="/static/js/integration/documentationModal.js"></script>
    <script type="text/javascript" src="/static/js/fs/controller.js"></script>
    <script type="text/javascript" src="/static/js/fs/fileEditor.js"></script>
    <script type="text/javascript" src="/static/js/fs/uploadModal.js"></script>
    <script type="text/javascript" src="/static/js/fs/actionsModal.js"></script>
    <script type="text/javascript" src="/static/js/fs/filePreview.js"></script>

    <script type="text/javascript" src="/static/ace/ace.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/ace/mode-javascript.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/ace/theme-github.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/ace/ext-language_tools.js" charset="utf-8"></script>
</head>
<body ng-app="nexus" ng-controller="BodyController" ng-cloak>
  <nav class="light-blue lighten-2" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" class="brand-logo" ng-click="changePage('home')"><i class="material-icons">language</i> Nexus</a>
      <ul class="right hide-on-med-and-down">
        <li ng-class="{active: page == 'messenger'}"><a ng-click="changePage('messenger')"><i class="material-icons">message</i></a></li>
        <li ng-class="{active: page == 'files'}"><a ng-click="changePage('files')"><i class="material-icons">sd_storage</i></a></li>
        <li ng-class="{active: page == 'home'}"><a ng-click="changePage('home')"><i class="material-icons">home</i></a></li>
        {!{if .AdminPerms.Accounts}!}<li ng-class="{active: page == 'accounts'}"><a ng-click="changePage('accounts')"><i class="material-icons left">supervisor_account</i> Accounts</a></li>{!{end}!}
        <li ng-class="{active: page == 'data' || page == 'data-explorer'}"><a ng-click="changePage('data')"><i class="material-icons left">storage</i> Datastores</a></li>
        {!{if .AdminPerms.Integrations}!}<li ng-class="{active: page == 'integration-editor' || page == 'integrations'}"><a ng-click="changePage('integrations')"><i class="material-icons left">import_export</i> Integrations</a></li>{!{end}!}
        <li ng-class="{active: page == 'apps'}"><a ng-click="changePage('apps')"><i class="material-icons">apps</i></a></li>
        <li><a href="/settings/show"><i class="material-icons">settings</i></a></li>
        <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>

      </ul>
      <a data-activates="nav-mobile"  data-sidenav="left" data-menuwidth="500" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav">
    <li><a ng-click="changePage('home')">Home</a></li>
    <li><a ng-click="changePage('files')">Files</a></li>
    <li><a ng-click="changePage('messenger')">Messenger</a></li>
    {!{if .AdminPerms.Accounts}!}<li><a ng-click="changePage('accounts')">Accounts</a></li>{!{end}!}
    {!{if .AdminPerms.Integrations}!}<li><a ng-click="changePage('integrations')">Integrations</a></li>{!{end}!}
    <li><a ng-click="changePage('apps')">Apps</a></li>
  </ul>

  <div ng-show="page == 'apps'" class="container" ng-controller="AppController">
    <h5>Apps</h5>
    <loader loading="loading" error="error"></loader>
    <div class="row">
      <a class="col s12 m3 app-icon-container" ng-repeat="app in apps" href="{{app.URL}}">
        <div class="app-icon center-align">
          <i class="material-icons medium">{{app.Icon}}</i><br>
          {{app.Name}}
        </div>
      </a>
    </div>
  </div>

  <div ng-show="page == 'home'" class="container" ng-include="'/dashboard/main?updated=' + dashUpdated">
    <!-- rgba(0, 0, 0, 0.05); -->
  </div>

  <div ng-show="page == 'files'" class="container row">
    <div ng-controller="FSController">
      <div>
        <h3 style="display: inline-block;" ng-click="back();">Storage</h3>
        <label ng-bind="path" style="font-size:21px; margin-left: 15px;cursor: pointer;" ng-click="back();"></label>
      </div>
      <loader loading="loading" error="error"></loader>

      <table class="highlight">
        <thead>
          <tr>
              <th></th>
              <th>Name</th>
              <th>Last Modified</th>
              <th>Size</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="file in files">
            <td style="width: 4ch;" ng-click="nav(file)" style="cursor: pointer;"><i class="material-icons left">{{icon(file)}}</i></td>
            <td ng-click="nav(file)" style="cursor: pointer; max-width: 350px;">{{name(file)}}</td>
            <td ng-click="nav(file)" style="cursor: pointer;">{{date(file)}}</td>
            <td ng-click="nav(file)" style="cursor: pointer;" ng-if="file.SizeBytes>0">{{file.SizeBytes | bytes}}</td>
            <td ng-click="nav(file)" style="cursor: pointer;" ng-if="file.SizeBytes==0"></td>
            <td>
              <a class="btn-floating" ng-click="delete(file)" ng-if="file.ItemKind!=1"><i class="material-icons">delete</i></a>
              <a class="btn-floating" ng-click="download(file)" ng-if="file.ItemKind==2"><i class="material-icons">file_download</i></a>
              <a class="btn-floating" ng-click="openActions(file)" ng-if="file.ItemKind==2"><i class="material-icons">donut_large</i></a>

            </td>
          </tr>
        </tbody>
      </table>

      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="New File" ng-click="newFile()">
          <i class="large material-icons">add</i>
        </a>
        <ul>
          <li><a class="btn-floating yellow tooltipped" data-position="left" data-delay="50" data-tooltip="Upload" ng-click="upload()"><i class="material-icons">file_upload</i></a></li>
          <li><a class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="New folder" ng-click="newFolder()"><i class="material-icons">create_new_folder</i></a></li>
        </ul>
      </div>
    </div>

    <upload-modal></upload-modal>
    <fs-actions-modal></fs-actions-modal>
  </div>

  <div ng-show="page == 'files-preview'" class="container">
    <div ng-controller="FilePreviewController">
      <h3 style="display: inline-block; margin-bottom: 0px;">Preview</h3>
      <label ng-bind="path" style="font-size:21px; margin-left: 15px;cursor: pointer;" ng-click="back();"></label>
      <loader loading="loading" error="error" ></loader>
      <div style="padding-left: 8px;color: #9e9e9e;">
        <p>Last modified <span am-time-ago="file.Modified"></span></p>
      </div>

      <div class="row">
        <img ng-if="imgsrc" class="responsive-img" ng-src="{{imgsrc}}" />
        <audio ng-if="mpgsrc" controls="controls" preload="none">
          <source type="audio/mpeg" src="{{mpgsrc}}"/>
        </audio>
        <embed ng-if="pdfsrc" ng-src="{{pdfsrc}}" width="100%" height="73%" type='application/pdf'>
      </div>
    </div>
  </div>

  <div ng-show="page == 'files-editor'" style="margin: 0px 9px;">
    <div ng-controller="FileEditorController">
      <h3 style="display: inline-block; margin-bottom: 0px;">Editing</h3>
      <label ng-bind="path" style="font-size:21px; margin-left: 15px;cursor: pointer;" ng-click="noSaveBack();"></label>
      <loader loading="loading" error="error" ></loader>
      <div style="padding-left: 8px;color: #9e9e9e;">
        <p>Last saved <span am-time-ago="lastSaved"></span></p>
      </div>

      <div class="row">
        <div class="col s8">
          <div id="fileEditor"></div>
        </div>
        <div class="col s4">
          <div ng-if="showDashDoc" class="section" style="padding-top: 0px;">
            <div ng-include="'/static/views/fs/dashDocumentation.html?cache=2'">
            </div>
          </div>
          <div class="input-field">
            <input id="fileName" type="text" ng-model="file.Name" disabled>
            <label for="fileName">Name</label>
          </div>
          <div class="input-field">
            <input id="fileLastModified" type="text" ng-model="lastSaved" disabled>
            <label for="fileLastModified">Last Modified</label>
          </div>
          <select class="browser-default" ng-model="selectedMode" ng-change="modeChange()" style="margin-bottom: 10px;">
            <option value="text">Text</option>
            <option value="html">HTML</option>
            <option value="javascript">Javascript</option>
            <option value="json">JSON</option>
            <option value="hcl">Hashicorp Config</option>
          </select>

          <button class="btn waves-effect waves-light" type="submit" ng-click="save()">
            Save <i class="material-icons right">save</i>
          </button>
          <button class="btn waves-effect waves-light" type="submit" ng-click="back()">
            Save and Return <i class="material-icons right">arrow_back</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="page == 'accounts'" class="container">
    <h3>Accounts</h3>
    <div ng-controller="AccountViewController">
      <loader loading="loading" error="error"></loader>

      <table class="highlight">
        <thead>
          <tr>
              <th>UID</th>
              <th>Username</th>
              <th>Display Name</th>
              <th>Created</th>
              <th>Admin Permissions</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="user in accounts">
            <td ng-click="edit(user)" style="cursor: pointer;">{{user.UID}}</td>
            <td ng-click="edit(user)" style="cursor: pointer;">{{user.Username}}<i class="material-icons right" ng-if="user.IsRobot">developer_board</i></td>
            <td ng-click="edit(user)" style="cursor: pointer;">{{user.DisplayName}}</td>
            <td am-time-ago="user.CreatedAt"></td>
            <td>
              <i class="material-icons left" ng-if="user.AdminPerms.Accounts">supervisor_account</i>
              <i class="material-icons left" ng-if="user.AdminPerms.Data">storage</i>
              <i class="material-icons left" ng-if="user.AdminPerms.Integrations">import_export</i>
            </td>
            <td>
              <a class="btn-floating" href="#" ng-click="delete(user.UID)"><i class="material-icons">delete</i></a>
              <a class="btn-floating" href="#" ng-click="changeAuth(user)"><i class="material-icons">vpn_key</i></a>
              <a class="btn-floating" href="#" ng-click="editGrants(user)"><i class="material-icons">perm_identity</i></a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="fixed-action-btn">
        <a href="#" class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Create Account" ng-click="createAccount()">
          <i class="large material-icons">person_add</i>
        </a>
        <ul>
          <li><a class="btn-floating yellow tooltipped" data-position="left" data-delay="50" data-tooltip="Backup now" href="/admin/dobackup"><i class="material-icons">history</i></a></li>
          <li><a class="btn-floating blue tooltipped" data-position="left" data-delay="50" data-tooltip="Stats" href="/admin/stats"><i class="material-icons">insert_chart</i></a></li>
          <li><a class="btn-floating red tooltipped" data-position="left" data-delay="50" data-tooltip="Cleanup" href="/admin/cleanup"><i class="material-icons">build</i></a></li>
        </ul>
      </div>
    </div>

    <account-edit-modal></account-edit-modal>
    <account-grants-modal></account-grants-modal>
  </div>

  <div ng-show="page == 'accounts-auth'" class="container">
    <h3>Auth methods</h3>
    <div ng-controller="AccountsAuthController">
      <loader loading="loading" error="error"></loader>
      <p>Showing authentication methods for <i>{{account.DisplayName}}</i> ({{account.UID}}).</p>
      <p>For a sign in to succeed, at least one auth method must pass, and all required auth methods must pass. Additionally, the combined score of all passing auth methods must equal or exceed 1000.</p>
      <p ng-hide="auths">No auth methods are currently setup for this user. The user will only be able to login with the accounts basic password, if one exists.</p>

      <ul class="collection">
        <li class="collection-item avatar" ng-repeat="auth in auths">
          <i class="material-icons circle">{{icon(auth)}}</i>
          <span class="title">{{auth.Val2}} ({{auth.Score}})</span>
          <p>{{kName(auth.Kind)}} <br>
             <label>{{cName(auth.Class)}}</label>
          </p>
          <a href="#" class="secondary-content" ng-click="deleteAuth(auth)"><i class="material-icons">delete</i></a>
        </li>
      </ul>

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">add</i>Add New...</div>
          <div class="collapsible-body"  style="padding: 24px;">
            <div class="fields-container">
              <div class="row" style="margin-bottom: 3px;"><!-- Class selector -->
                <div class="col s4">
                  <span style="margin-right: 25px;">
                    <input class="with-gap" name="authClassNewSelect" type="radio" id="authSelectorOptional" ng-click="new.Class=1" ng-checked="new.Class==1" />
                    <label for="authSelectorOptional">Optional</label>
                  </span>
                </div>
                <div class="col s8">
                  <span style="margin-right: 25px;">
                    <input class="with-gap" name="authClassNewSelect" type="radio" id="authSelectorRequired" ng-click="new.Class=0" ng-checked="new.Class==0" />
                    <label for="authSelectorRequired">Required</label>
                  </span>
                </div>
              </div>

              <div class="row" style="margin-bottom: 3px;"><!-- Kind selector -->
                <div class="col s4">
                  <span style="margin-right: 25px;">
                    <input class="with-gap" name="authKindNewSelect" type="radio" id="kindSelectorOTP" ng-click="new.Kind=0;inputType='text'" ng-checked="new.Kind==0" />
                    <label for="kindSelectorOTP">OTP</label>
                  </span>
                </div>
                <div class="col s8">
                  <span style="margin-right: 25px;">
                    <input class="with-gap" name="authKindNewSelect" type="radio" id="kindSelectorPassword" ng-click="new.Kind=1;inputType='password'" ng-checked="new.Kind==1" />
                    <label for="kindSelectorPassword">Password</label>
                  </span>
                </div>
              </div>

              <div class="row" style="margin-bottom: 6px;"> <!-- Name -->
                <div class="input-field col s12">
                  <input id="authNameNewInput" type="text" ng-model="new.Val2">
                  <label for="authNameNewInput">Name</label>
                </div>
              </div>
              <div class="row" style="margin-bottom: 6px;"> <!-- Secret -->
                <div class="input-field col s12">
                  <input id="authSecretNewInput" type="{{inputType}}" ng-model="new.Val1">
                  <label for="authSecretNewInput">Secret / Password</label>
                </div>
              </div>
              <div class="row" style="margin-bottom: 6px;"> <!-- Score -->
                <div class="input-field col s12">
                  <input id="authScoreNewInput" type="number" ng-model="new.Score">
                  <label for="authScoreNewInput">Score</label>
                </div>
              </div>

              <div class="row" style="margin-bottom: 6px;" ng-show="imgdata">
                <img data-ng-src="data:image/png;base64,{{imgdata}}" />
              </div>

              <div class="row" style="margin-bottom: 3px;">
                <a href="#" class="waves-effect waves-light btn" ng-click="newAuth()"><i class="material-icons left">add</i> Create</a>
                <a href="#" class="waves-effect waves-light btn-flat" ng-click="genOTP()"><i class="material-icons left">vpn_key</i> Generate OTP</a>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div ng-show="page == 'data'" class="container">
    <h3>Datastores</h3>
    <div ng-controller="DatastoreController">
      <loader loading="loading" error="error"></loader>

      <table class="highlight">
        <thead>
          <tr>
              <th>UID</th>
              <th>Name</th>
              <th>Created</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="ds in datastores">
            <td ng-click="edit(ds)" style="cursor: pointer;">{{ds.UID}}</td>
            <td ng-click="edit(ds)" style="cursor: pointer;">{{ds.Name}}</td>
            <td am-time-ago="ds.CreatedAt"></td>
            <td>
              <a class="btn-floating" href="#" ng-click="delete(ds.UID)"><i class="material-icons">delete</i></a>
              <a class="btn-floating" href="#" ng-click="explore(ds)"><i class="material-icons">search</i></a>
              <a class="btn-floating" href="#" ng-click="insert(ds)"><i class="material-icons">add</i></a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="fixed-action-btn">
        <a href="#" class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Create Datastore" ng-click="create()">
          <i class="large material-icons">add</i>
        </a>
      </div>
    </div>

    <datastore-edit-modal></datastore-edit-modal>
  </div>

  <div ng-show="page == 'data-explorer'" style="margin: 0px 9px;">
    <div ng-controller="DataExplorerController" class="container">
      <h3>{{datastore.Name}}</h3>
      <loader loading="loading" error="error"></loader>
      <datastore-filter ds="datastore" on-change="filtersChanged(filters, limit, offset)"></datastore-filter>

      <table class="highlight section">
        <thead>
          <tr>
              <th>UID</th>
              <th ng-repeat="col in datastore.Cols track by $index">{{col.Name}}</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="row in data track by $index">
            <td ng-repeat="col in row track by $index">{{col}}</td>
            <td>
              <i class="material-icons left" style="cursor:pointer;" ng-click="deleteRow(row[0]);">close</i>
              <!-- <i class="material-icons left" style="cursor:pointer;">edit</i> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div ng-show="page == 'data-inserter'" style="margin: 0px 9px;">
    <div ng-controller="DataInserterController" class="container">
      <h3>Insert: {{datastore.Name}}</h3>
      <loader loading="loading" error="error" ></loader>

      <div class="row valign-wrapper" ng-repeat="col in datastore.Cols">
        <div class="col s2 offset-s1">
          <p>{{col.Name}}</p>
          <label>{{kind(col.Datatype)}} ({{col.UID}})</label>
        </div>
        <div class="input-field col s9">
          <input id="colInsertInput_$index" class="active" type="text" ng-model="col.tempVal">
          <label for="colInsertInput_$index">Value</label>
        </div>
      </div>

      <a class="waves-effect waves-light btn" ng-click="insert()"><i class="material-icons left">storage</i> insert</a>
    </div>
  </div>

  <div ng-show="page == 'messenger'" style="margin: 0px 9px;">
    <div ng-controller="MessengerController">
      <div style="height: 12px; width: 100%; overflow: hidden;">
        <loader loading="loading" error="error" ></loader>
      </div>

      <div class="row">
        <div class="col s3">
          <div class="input-field">
            <input placeholder="Search..." ng-model="searchText" type="text">
          </div>
          <ul class="collection" style="overflow-y: scroll; height: 63%;">
            <a class="collection-item avatar" ng-repeat="convo in baseData.Conversations | filter:searchText" ng-class="{active: selected==convo.UID}" ng-click="openConvo(convo)" href="#" style="min-height: 70px; color: #000000;">
              <i class="material-icons circle blue" ng-if="convo.Kind=='chan'">chat</i>
              <i class="material-icons circle blue" ng-if="convo.Kind=='dm'">mail_outline</i>
              <i class="op-indicator" ng-style="{'background-color': convo.activityColor}"></i>
              <span class="title">{{convo.Name}}</span>
              <p>{{convo.convo_name}}</p>
            </a>
          </ul>
        </div>

        <div class="s9">
          <h3>{{currentConvoTitle}}</h3>
          <div id="messages-container" style="overflow-y: auto; height: 64%;">
            <div ng-repeat="msg in currentConvoMessages">
              <div class="message-section">
                <h5 style="font-size: 1.2rem; display: inline-block; margin: 0.52rem 0 0.156rem 0;">{{msg.From}}</h5><span am-time-ago="msg.CreatedAt" class="msg-time"></span>
                <p style="margin: 6px;">{{msg.Data}}</p>
              </div>
              <div class="divider"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row valign-wrapper">
        <div class="col s9 offset-s1 input-field">
          <input id="messengerMsg" type="text" ng-model="msg" ng-keyup="$event.keyCode == 13 && send()">
          <label for="messengerMsg">Message</label>
        </div>
        <div class="col s2">
          <a class="waves-effect waves-light btn right-align" ng-click="send()"><i class="material-icons left">mail</i> Send</a>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="page == 'integrations'" class="container">
    <h3>Integrations</h3>
    <div ng-controller="IntegrationsController">
      <loader loading="loading" error="error"></loader>

      <table class="highlight">
        <thead>
          <tr>
              <th>UID</th>
              <th>Name</th>
              <th>Triggers</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody class="table-slim">
          <tr ng-repeat="runnable in integrations">
            <td ng-click="edit(runnable)" style="cursor: pointer;">{{runnable.UID}}</td>
            <td ng-click="edit(runnable)" style="cursor: pointer;">{{runnable.Name}}</td>
            <td ng-click="edit(runnable)" style="cursor: pointer;">
              <i ng-repeat="(i,v) in computeTriggerIcons(runnable)" class="material-icons">{{i}}</i>
            </td>
            <td class="actions">
              <a class="btn-floating" href="#" ng-click="delete(runnable)"><i class="material-icons">delete</i></a>
              <a class="btn-floating" href="#" ng-click="open(runnable)"><i class="material-icons">edit</i></a>
              <a class="btn-floating red" href="#" ng-click="run(runnable)"><i class="material-icons">play_arrow</i></a>
              <a class="btn-floating amber" href="#" ng-click="viewLogs(runnable)"><i class="material-icons">list</i></a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="fixed-action-btn">
        <a href="#" class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Create Integration" ng-click="createIntegration()">
          <i class="large material-icons">add</i>
        </a>
      </div>
    </div>

    <integration-edit-modal></integration-edit-modal>
  </div>

  <div ng-show="page == 'integration-editor'" style="margin: 0px 9px;">
    <div ng-controller="EditorController">
      <h3>Editing: {{runnable.Name}}</h3>
      <loader loading="loading" error="error" ></loader>
      <div style="padding-left: 8px;color: #9e9e9e;">
        <p>Last saved <span am-time-ago="lastSaved"></span></p>
      </div>


      <div class="row">
        <div class="col s8">
          <div id="codeEditor"></div>
        </div>
        <div class="col s4">
          <div ng-show="datastoreSuggestions">
            <ul class="collection with-header">
              <li class="collection-header" ng-show="datastoreSuggestions.filter"><h5>Columns</h5></li>
              <li class="collection-header" ng-show="!datastoreSuggestions.filter"><h5>Datastores</h5></li>
              <li class="collection-item" ng-show="datastoreSuggestions.loading">
                <div class="progress"><div class="indeterminate"></div></div>
              </li>
              <li class="collection-item" ng-if="!datastoreSuggestions.filter" ng-repeat="datastore in datastoreSuggestions.datastores">
                {{datastore.Name}}
                <label>{{datastore.Kind}}</label>
                <a href="#" class="secondary-content"><i class="material-icons">data</i></a>
              </li>
              <li class="collection-item" ng-if="datastoreSuggestions.filter" ng-repeat="col in datastoreSuggestions.cols">
                {{col.Name}}
                <label>{{datastoreDatatypeToString(col.Datatype)}}</label>
                <a href="#" class="secondary-content"><i class="material-icons">data</i></a>
              </li>
            </ul>
          </div>
          <div ng-show="codeSuggestions.length">
            <h5>Suggestions</h5>
            <div class="card light-blue darken-2" ng-repeat="suggestion in codeSuggestions">
              <div class="card-content white-text" style="padding-top: 6px; padding-bottom: 8px;">
                <span class="card-title">
                  {{suggestion.reference.heading}}
                  <span class="suggestion-kind">{{suggestion.reference.kind}}</span>
                </span>
                <p>{{suggestion.reference.detail}} <a ng-if="suggestion.reference.more" href="#" ng-click="moreReference(suggestion.reference.more)" class="orange-text">more</a></p>
              </div>
            </div>
          </div>
          <ul class="collection with-header" ng-show="runnable.Triggers.length">
            <li class="collection-header"><h5>Triggers</h5></li>
            <li class="collection-item" ng-repeat="trigger in runnable.Triggers">
              {{trigger.Name}}
              <label>{{trigger.Val1}}</label>
              <a href="#" class="secondary-content"><i class="material-icons">{{triggerIcon(trigger)}}</i></a>
            </li>
          </ul>
          <p ng-hide="runnable.Triggers.length">This script is not configured with any triggers. It will only execute when manually started.</p>

          <button class="btn waves-effect waves-light" type="submit" ng-click="save()">
            Save
            <i class="material-icons right">save</i>
          </button>
        </div>
      </div>
    </div>

    <integration-documentation-modal></integration-documentation-modal>
  </div>

  <div ng-show="page == 'integration-run-explorer'" style="margin: 0px 9px;">
    <div ng-controller="IntegrationRunExplorer">
      <div class="row valign-wrapper">
        <div class="col s10">
          <h3>{{runnable.Name}}</h3>
        </div>
        <div class="col s2 valign-wrapper" style="min-height: 80px;">
          <div class="right-aligned valign-wrapper grey-text" ng-if="!wsConnected || loading">
            <i class="material-icons left">signal_wifi_off</i>
            Not streaming
          </div>
          <div class="right-aligned valign-wrapper green-text text-darken-2" ng-if="wsConnected && !loading">
            <i class="material-icons left ">signal_wifi_4_bar</i>
            Streaming
          </div>
        </div>
      </div>

      <loader loading="loading" error="error"></loader>
      <run-filter runs="runs" runnable="runnable" on-change="filtersChanged(run, filters, limit, offset)"></run-filter>

      <div class='log-container'>
        <div id="integrationLogOutput"></div>
      </div>
    </div>
  </div>


  <confirmation-dialog-modal></confirmation-dialog-modal>
</body>
</html>
