<html>
<head>
    <title>Nexus</title>

    <!-- Materialize CSS -->
    <link rel="icon" sizes="192x192" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/css/material-icons.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/animations.css">
    <link rel="stylesheet" href="/static/css/general.css">

    <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
    </style>

    <!-- JavaScript for: jQuery, angular, materialize, and angular-materialize. All of which are needed. -->
    <script type="text/javascript" src="/static/js/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/moment.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/angular-moment.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/angular-materialize.min.js"></script>

    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/accounts/accounts.js"></script>
    <script type="text/javascript" src="/static/js/accounts/accountEditModal.js"></script>
    <script type="text/javascript" src="/static/js/accounts/accountGrantsModal.js"></script>
    <script type="text/javascript" src="/static/js/accounts/accountsAuth.js"></script>
    <script type="text/javascript" src="/static/js/data/controller.js"></script>
    <script type="text/javascript" src="/static/js/data/editModal.js"></script>
    <script type="text/javascript" src="/static/js/data/exploreController.js"></script>
    <script type="text/javascript" src="/static/js/data/inserterController.js"></script>
    <script type="text/javascript" src="/static/js/data/filterDirective.js"></script>
    <script type="text/javascript" src="/static/js/messenger/controller.js"></script>
    <script type="text/javascript" src="/static/js/integration/editor.js"></script>
    <script type="text/javascript" src="/static/js/integration/editModal.js"></script>
    <script type="text/javascript" src="/static/js/integration/list.js"></script>
    <script type="text/javascript" src="/static/js/integration/runExplorer.js"></script>
    <script type="text/javascript" src="/static/js/integration/filterDirective.js"></script>

    <script type="text/javascript" src="/static/ace/ace.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/ace/mode-javascript.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/ace/theme-github.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/ace/ext-language_tools.js" charset="utf-8"></script>
</head>
<body ng-app="nexus" ng-controller="BodyController" ng-cloak>
  <nav class="light-blue lighten-2" role="navigation">
    <div class="nav-wrapper">
      <a id="logo-container" href="#" class="brand-logo"><i class="material-icons">language</i> Nexus</a>
      <ul class="right hide-on-med-and-down">
        <li ng-class="{active: page == 'messenger'}"><a href="#" ng-click="changePage('messenger')"><i class="material-icons">message</i></a></li>
        <li ng-class="{active: page == 'home'}"><a href="#" ng-click="changePage('home')"><i class="material-icons left">home</i> Home</a></li>
        {!{if .AdminPerms.Accounts}!}<li ng-class="{active: page == 'accounts'}"><a href="#" ng-click="changePage('accounts')"><i class="material-icons left">supervisor_account</i> Accounts</a></li>{!{end}!}
        <li ng-class="{active: page == 'data' || page == 'data-explorer'}"><a href="#" ng-click="changePage('data')"><i class="material-icons left">storage</i> Datastores</a></li>
        {!{if .AdminPerms.Integrations}!}<li ng-class="{active: page == 'integration-editor' || page == 'integrations'}"><a href="#" ng-click="changePage('integrations')"><i class="material-icons left">import_export</i> Integrations</a></li>{!{end}!}
      </ul>
      <a href="#" data-activates="nav-mobile"  data-sidenav="left" data-menuwidth="500" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <ul id="nav-mobile" class="side-nav">
    <li><a href="#" ng-click="changePage('home')">Home</a></li>
    <li><a href="#" ng-click="changePage('messenger')">Messenger</a></li>
    {!{if .AdminPerms.Accounts}!}<li><a href="#" ng-click="changePage('accounts')">Accounts</a></li>{!{end}!}
    {!{if .AdminPerms.Integrations}!}<li><a href="#" ng-click="changePage('integrations')">Integrations</a></li>{!{end}!}
  </ul>

  <div ng-show="page == 'accounts'" class="container">
    <h3>Accounts</h3>
    <div ng-controller="AccountViewController">
      <loader loading="loading" error="error"></loader>

      <table class="highlight">
        <thead>
          <tr>
              <th>UID</th>
              <th>Username</th>
              <th>Display Name</th>
              <th>Created</th>
              <th>Admin Permissions</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="user in accounts">
            <td ng-click="edit(user)" style="cursor: pointer;">{{user.UID}}</td>
            <td ng-click="edit(user)" style="cursor: pointer;">{{user.Username}}<i class="material-icons right" ng-if="user.IsRobot">developer_board</i></td>
            <td ng-click="edit(user)" style="cursor: pointer;">{{user.DisplayName}}</td>
            <td am-time-ago="user.CreatedAt"></td>
            <td>
              <i class="material-icons left" ng-if="user.AdminPerms.Accounts">supervisor_account</i>
              <i class="material-icons left" ng-if="user.AdminPerms.Data">storage</i>
              <i class="material-icons left" ng-if="user.AdminPerms.Integrations">import_export</i>
            </td>
            <td>
              <a class="btn-floating" href="#" ng-click="delete(user.UID)"><i class="material-icons">delete</i></a>
              <a class="btn-floating" href="#" ng-click="changeAuth(user)"><i class="material-icons">vpn_key</i></a>
              <a class="btn-floating" href="#" ng-click="editGrants(user)"><i class="material-icons">perm_identity</i></a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="fixed-action-btn">
        <a href="#" class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Create Account" ng-click="createAccount()">
          <i class="large material-icons">person_add</i>
        </a>
        <ul>
          <li><a class="btn-floating yellow tooltipped" data-position="left" data-delay="50" data-tooltip="Logout" href="/logout"><i class="material-icons">exit_to_app</i></a></li>
        </ul>
      </div>
    </div>

    <account-edit-modal></account-edit-modal>
    <account-grants-modal></account-grants-modal>
  </div>

  <div ng-show="page == 'accounts-auth'" class="container">
    <h3>Auth methods</h3>
    <div ng-controller="AccountsAuthController">
      <loader loading="loading" error="error"></loader>
      <p>Showing authentication methods for <i>{{account.DisplayName}}</i> ({{account.UID}}).</p>
      <p>For a sign in to succeed, at least one auth method must pass, and all required auth methods must pass.</p>
      <p ng-hide="auths">No auth methods are currently setup for this user. The user will only be able to login with the accounts basic password, if one exists.</p>

      <ul class="collection">
        <li class="collection-item avatar" ng-repeat="auth in auths">
          <i class="material-icons circle">{{icon(auth)}}</i>
          <span class="title">{{auth.Val2}}</span>
          <p>{{kName(auth.Kind)}} <br>
             <label>{{cName(auth.Class)}}</label>
          </p>
          <a href="#!" class="secondary-content" ng-click="deleteAuth(auth)"><i class="material-icons">delete</i></a>
        </li>
      </ul>

      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">add</i>Add New...</div>
          <div class="collapsible-body"  style="padding: 24px;">
            <div class="fields-container">
              <div class="row" style="margin-bottom: 3px;"><!-- Class selector -->
                <div class="col s4">
                  <span style="margin-right: 25px;">
                    <input class="with-gap" name="authClassNewSelect" type="radio" id="authSelectorOptional" ng-click="new.Class=1" ng-checked="new.Class==1" />
                    <label for="authSelectorOptional">Optional</label>
                  </span>
                </div>
                <div class="col s8">
                  <span style="margin-right: 25px;">
                    <input class="with-gap" name="authClassNewSelect" type="radio" id="authSelectorRequired" ng-click="new.Class=0" ng-checked="new.Class==0" />
                    <label for="authSelectorRequired">Required</label>
                  </span>
                </div>
              </div>

              <div class="row" style="margin-bottom: 3px;"><!-- Kind selector -->
                <div class="col s4">
                  <span style="margin-right: 25px;">
                    <input class="with-gap" name="authKindNewSelect" type="radio" id="kindSelectorOTP" ng-click="new.Kind=0;inputType='text'" ng-checked="new.Kind==0" />
                    <label for="kindSelectorOTP">OTP</label>
                  </span>
                </div>
                <div class="col s8">
                  <span style="margin-right: 25px;">
                    <input class="with-gap" name="authKindNewSelect" type="radio" id="kindSelectorPassword" ng-click="new.Kind=1;inputType='password'" ng-checked="new.Kind==1" />
                    <label for="kindSelectorPassword">Password</label>
                  </span>
                </div>
              </div>

              <div class="row" style="margin-bottom: 6px;"> <!-- Name -->
                <div class="input-field col s12">
                  <input id="authNameNewInput" type="text" ng-model="new.Val2">
                  <label for="authNameNewInput">Name</label>
                </div>
              </div>
              <div class="row" style="margin-bottom: 6px;"> <!-- Secret -->
                <div class="input-field col s12">
                  <input id="authSecretNewInput" type="{{inputType}}" ng-model="new.Val1">
                  <label for="authSecretNewInput">Secret / Password</label>
                </div>
              </div>

              <div class="row" style="margin-bottom: 3px;">
                <a href="#!" class="waves-effect waves-light btn" ng-click="newAuth()"><i class="material-icons left">add</i> Create</a>
                <a href="#!" class="waves-effect waves-light btn-flat" ng-click="newOTP()"><i class="material-icons left">vpn_key</i> Generate OTP</a>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div ng-show="page == 'data'" class="container">
    <h3>Datastores</h3>
    <div ng-controller="DatastoreController">
      <loader loading="loading" error="error"></loader>

      <table class="highlight">
        <thead>
          <tr>
              <th>UID</th>
              <th>Name</th>
              <th>Created</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="ds in datastores">
            <td ng-click="edit(ds)" style="cursor: pointer;">{{ds.UID}}</td>
            <td ng-click="edit(ds)" style="cursor: pointer;">{{ds.Name}}</td>
            <td am-time-ago="ds.CreatedAt"></td>
            <td>
              <a class="btn-floating" href="#" ng-click="delete(ds.UID)"><i class="material-icons">delete</i></a>
              <a class="btn-floating" href="#" ng-click="explore(ds)"><i class="material-icons">search</i></a>
              <a class="btn-floating" href="#" ng-click="insert(ds)"><i class="material-icons">add</i></a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="fixed-action-btn">
        <a href="#" class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Create Datastore" ng-click="create()">
          <i class="large material-icons">add</i>
        </a>
      </div>
    </div>

    <datastore-edit-modal></datastore-edit-modal>
  </div>

  <div ng-show="page == 'data-explorer'" style="margin: 0px 9px;">
    <div ng-controller="DataExplorerController" class="container">
      <h3>{{datastore.Name}}</h3>
      <loader loading="loading" error="error"></loader>
      <datastore-filter ds="datastore" on-change="filtersChanged(filters, limit, offset)"></datastore-filter>

      <table class="highlight section">
        <thead>
          <tr>
              <th>UID</th>
              <th ng-repeat="col in datastore.Cols">{{col.Name}}</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="row in data">
            <td ng-repeat="col in row">{{col}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div ng-show="page == 'data-inserter'" style="margin: 0px 9px;">
    <div ng-controller="DataInserterController" class="container">
      <h3>Insert: {{datastore.Name}}</h3>
      <loader loading="loading" error="error" ></loader>

      <div class="row valign-wrapper" ng-repeat="col in datastore.Cols">
        <div class="col s2 offset-s1">
          <p>{{col.Name}}</p>
          <label>{{kind(col.Datatype)}} ({{col.UID}})</label>
        </div>
        <div class="input-field col s9">
          <input id="colInsertInput_$index" class="active" type="text" ng-model="col.tempVal">
          <label for="colInsertInput_$index">Value</label>
        </div>
      </div>

      <a class="waves-effect waves-light btn" ng-click="insert()"><i class="material-icons left">storage</i> insert</a>
    </div>
  </div>

  <div ng-show="page == 'messenger'" style="margin: 0px 9px;">
    <div ng-controller="MessengerController">
      <div style="height: 12px; width: 100%; overflow: hidden;">
        <loader loading="loading" error="error" ></loader>
      </div>

      <div class="row">
        <div class="col s3">
          <ul class="collection" style="overflow-y: scroll; height: 82%;">
            <a class="collection-item avatar" ng-repeat="convo in baseData.Conversations" ng-class="{active: selected==convo.UID}" ng-click="openConvo(convo)" href="#" style="min-height: 70px; color: #000000;">
              <i class="material-icons circle blue" ng-if="convo.Kind=='chan'">chat</i>
              <i class="material-icons circle blue" ng-if="convo.Kind=='dm'">mail_outline</i>
              <span class="title">{{convo.Name}}</span>
              <p>{{getConvoSecondLine(convo)}}</p>
            </a>
          </ul>
        </div>

        <div class="s9">
          <h3>{{currentConvoTitle}}</h3>
          <div id="messages-container" style="overflow-y: auto; height: 62%;">
            <div ng-repeat="msg in currentConvoMessages">
              <div class="message-section">
                <h5 style="font-size: 1.2rem; display: inline-block; margin: 0.52rem 0 0.156rem 0;">{{msg.From}}</h5><span am-time-ago="msg.CreatedAt" class="msg-time"></span>
                <p style="margin: 6px;">{{msg.Data}}</p>
              </div>
              <div class="divider"></div>
            </div>
          </div>
          <div style="height: 10%;" class="valign-wrapper">
            <div class="col s9 input-field">
              <input id="messengerMsg" type="text" ng-model="msg" ng-keyup="$event.keyCode == 13 && send()">
              <label for="messengerMsg">Message</label>
            </div>
            <div class="col s3">
              <a class="waves-effect waves-light btn" ng-click="send()"><i class="material-icons left">mail</i> Send</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="page == 'integrations'" class="container">
    <h3>Integrations</h3>
    <div ng-controller="IntegrationsController">
      <loader loading="loading" error="error"></loader>

      <table class="highlight">
        <thead>
          <tr>
              <th>UID</th>
              <th>Name</th>
              <th>Triggers</th>
              <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="runnable in integrations">
            <td ng-click="edit(runnable)" style="cursor: pointer;">{{runnable.UID}}</td>
            <td ng-click="edit(runnable)" style="cursor: pointer;">{{runnable.Name}}</td>
            <td ng-click="edit(runnable)" style="cursor: pointer;">
              <i ng-repeat="(i,v) in computeTriggerIcons(runnable)" class="material-icons">{{i}}</i>
            </td>
            <td>
              <a class="btn-floating" href="#" ng-click="delete(runnable)"><i class="material-icons">delete</i></a>
              <a class="btn-floating" href="#" ng-click="open(runnable)"><i class="material-icons">edit</i></a>
              <a class="btn-floating red" href="#" ng-click="run(runnable)"><i class="material-icons">play_arrow</i></a>
              <a class="btn-floating amber" href="#" ng-click="viewLogs(runnable)"><i class="material-icons">list</i></a>

            </td>
          </tr>
        </tbody>
      </table>

      <div class="fixed-action-btn">
        <a href="#" class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Create Integration" ng-click="createIntegration()">
          <i class="large material-icons">add</i>
        </a>
      </div>
    </div>

    <integration-edit-modal></integration-edit-modal>
  </div>

  <div ng-show="page == 'integration-editor'" style="margin: 0px 9px;">
    <div ng-controller="EditorController">
      <h3>Editing: {{runnable.Name}}</h3>
      <loader loading="loading" error="error" ></loader>
      <div style="padding-left: 8px;color: #9e9e9e;">
        <p>Last saved <span am-time-ago="lastSaved"></span></p>
      </div>


      <div class="row">
        <div class="col s8">
          <div id="codeEditor"></div>
        </div>
        <div class="col s4">
          <div ng-show="codeSuggestions.length">
            <h5>Suggestions</h5>
            <div class="card light-blue darken-2" ng-repeat="suggestion in codeSuggestions">
              <div class="card-content white-text" style="padding-top: 6px; padding-bottom: 8px;">
                <span class="card-title">
                  {{suggestion.reference.heading}}
                  <span class="suggestion-kind">{{suggestion.reference.kind}}</span>
                </span>
                <p>{{suggestion.reference.detail}}</p>
              </div>
            </div>
          </div>
          <ul class="collection with-header" ng-show="runnable.Triggers.length">
            <li class="collection-header"><h5>Triggers</h5></li>
            <li class="collection-item" ng-repeat="trigger in runnable.Triggers">
              {{trigger.Name}}
              <a href="#!" class="secondary-content"><i class="material-icons">{{triggerIcon(trigger)}}</i></a>
            </li>
          </ul>
          <p ng-hide="runnable.Triggers.length">This script is not configured with any triggers. It will only execute when manually started.</p>

          <button class="btn waves-effect waves-light" type="submit" ng-click="save()">
            Save
            <i class="material-icons right">save</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="page == 'integration-run-explorer'" style="margin: 0px 9px;">
    <div ng-controller="IntegrationRunExplorer">
      <h3>{{runnable.Name}}</h3>
      <loader loading="loading" error="error"></loader>
      <run-filter runs="runs" runnable="runnable" on-change="filtersChanged(run, filters, limit, offset)"></run-filter>

      <div id="integrationLogOutput"></div>
    </div>
  </div>


  <confirmation-dialog-modal></confirmation-dialog-modal>
</body>
</html>
